In [2]:
import urllib.request as url
import pandas as pd
import json

In [3]:
path = "https://data.covid19india.org/states_daily.json"
response = url.urlopen(path)
data = json.load(response)

In [ ]:
type(data)

In [ ]:
data.keys()

In [ ]:
name = ["ram","om","jay"]
pd.Series(name)

In [9]:
df = pd.DataFrame(data["states_daily"])

In [10]:
df

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,2,1835,255,857,38,1,114,15-Aug-21,2021-08-15,0,...,213,Recovered,582,1842,253,35936,0,36,31,709
1559,0,16,0,10,0,0,1,15-Aug-21,2021-08-15,0,...,0,Deceased,1,23,4,421,0,1,0,12
1560,1,909,165,758,14,2,68,16-Aug-21,2021-08-16,0,...,20,Confirmed,405,1851,52,24696,0,17,18,502
1561,0,1543,249,1014,42,3,224,16-Aug-21,2021-08-16,0,...,147,Recovered,577,1911,223,36871,0,36,54,691
1562,0,13,0,10,0,0,1,16-Aug-21,2021-08-16,0,...,0,Deceased,3,28,1,438,0,1,1,9

In [11]:
df.shape

(1563, 42)

In [12]:
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0

In [13]:
df.head(10)

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0
5,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Deceased,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,16-Mar-20,2020-03-16,0,...,0,Confirmed,1,0,0,15,0,0,1,0
7,0,0,0,0,0,0,0,16-Mar-20,2020-03-16,0,...,0,Recovered,0,1,0,1,0,0,0,0
8,0,0,0,0,0,0,0,16-Mar-20,2020-03-16,0,...,0,Deceased,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,17-Mar-20,2020-03-17,0,...,0,Confirmed,1,0,0,11,0,2,0,1

In [14]:
df.tail()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
1558,2,1835,255,857,38,1,114,15-Aug-21,2021-08-15,0,...,213,Recovered,582,1842,253,35936,0,36,31,709
1559,0,16,0,10,0,0,1,15-Aug-21,2021-08-15,0,...,0,Deceased,1,23,4,421,0,1,0,12
1560,1,909,165,758,14,2,68,16-Aug-21,2021-08-16,0,...,20,Confirmed,405,1851,52,24696,0,17,18,502
1561,0,1543,249,1014,42,3,224,16-Aug-21,2021-08-16,0,...,147,Recovered,577,1911,223,36871,0,36,54,691
1562,0,13,0,10,0,0,1,16-Aug-21,2021-08-16,0,...,0,Deceased,3,28,1,438,0,1,1,9

In [15]:
df.tail(10)

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
1553,0,20,1,20,3,0,0,13-Aug-21,2021-08-13,0,...,0,Deceased,2,34,2,477,0,2,1,8
1554,0,1535,161,755,39,4,83,14-Aug-21,2021-08-14,0,...,129,Confirmed,420,1916,137,36135,0,42,19,705
1555,2,2075,323,969,52,2,144,14-Aug-21,2021-08-14,0,...,217,Recovered,623,1866,264,37936,0,64,24,721
1556,0,16,0,11,0,0,1,14-Aug-21,2021-08-14,0,...,1,Deceased,3,34,1,491,0,1,0,15
1557,0,1506,48,411,28,1,49,15-Aug-21,2021-08-15,0,...,152,Confirmed,245,1896,142,33245,0,30,16,673
1558,2,1835,255,857,38,1,114,15-Aug-21,2021-08-15,0,...,213,Recovered,582,1842,253,35936,0,36,31,709
1559,0,16,0,10,0,0,1,15-Aug-21,2021-08-15,0,...,0,Deceased,1,23,4,421,0,1,0,12
1560,1,909,165,758,14,2,68,16-Aug-21,2021-08-16,0,...,20,Confirmed,405,1851,52,24696,0,17,18,502
1561,0,1543,249,1014,42,3,224,16-Aug-21,2021-08-16,0,...,147,Recovered,577,1911,223,36871,0,36,54,691
1562,0,13,0,10,0,0,1,16-Aug-21,2021-08-16,0,...,0,Deceased,3,28,1,438,0,1,1,9

In [16]:
df["tt"]

0          81
1           9
2           2
3          27
4           4
        ...
1558    35936
1559      421
1560    24696
1561    36871
1562      438
Name: tt, Length: 1563, dtype: object

In [17]:
df["tt"][3]

'27'

In [19]:
df["tt"] = df["tt"].astype("int32")

In [20]:
df["tt"].sum()

64122259

In [21]:
df["status"] == "Confirmed"

0        True
1       False
2       False
3        True
4       False
        ...
1558    False
1559    False
1560     True
1561    False
1562    False
Name: status, Length: 1563, dtype: bool