In [10]:
import urllib.request as url
import pandas as pd
import json

In [2]:
path = "https://data.covid19india.org/states_daily.json"
response = url.urlopen(path)
data = json.load(response)

In [4]:
data[0]

KeyError: 0

In [5]:
type(data)

dict

In [6]:
data.keys()

dict_keys(['states_daily'])

In [12]:
name = ["ram","om","jay"]
pd.Series(name)

0    ram
1     om
2    jay
dtype: object

In [15]:
df = pd.DataFrame(data['states_daily'])

In [16]:
df

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,2,1835,255,857,38,1,114,15-Aug-21,2021-08-15,0,...,213,Recovered,582,1842,253,35936,0,36,31,709
1559,0,16,0,10,0,0,1,15-Aug-21,2021-08-15,0,...,0,Deceased,1,23,4,421,0,1,0,12
1560,1,909,165,758,14,2,68,16-Aug-21,2021-08-16,0,...,20,Confirmed,405,1851,52,24696,0,17,18,502
1561,0,1543,249,1014,42,3,224,16-Aug-21,2021-08-16,0,...,147,Recovered,577,1911,223,36871,0,36,54,691
1562,0,13,0,10,0,0,1,16-Aug-21,2021-08-16,0,...,0,Deceased,3,28,1,438,0,1,1,9

In [17]:
df.shape

(1563, 42)

In [18]:
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0

In [19]:
df.head(10)

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0
5,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Deceased,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,16-Mar-20,2020-03-16,0,...,0,Confirmed,1,0,0,15,0,0,1,0
7,0,0,0,0,0,0,0,16-Mar-20,2020-03-16,0,...,0,Recovered,0,1,0,1,0,0,0,0
8,0,0,0,0,0,0,0,16-Mar-20,2020-03-16,0,...,0,Deceased,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,17-Mar-20,2020-03-17,0,...,0,Confirmed,1,0,0,11,0,2,0,1

In [20]:
df.tail()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
1558,2,1835,255,857,38,1,114,15-Aug-21,2021-08-15,0,...,213,Recovered,582,1842,253,35936,0,36,31,709
1559,0,16,0,10,0,0,1,15-Aug-21,2021-08-15,0,...,0,Deceased,1,23,4,421,0,1,0,12
1560,1,909,165,758,14,2,68,16-Aug-21,2021-08-16,0,...,20,Confirmed,405,1851,52,24696,0,17,18,502
1561,0,1543,249,1014,42,3,224,16-Aug-21,2021-08-16,0,...,147,Recovered,577,1911,223,36871,0,36,54,691
1562,0,13,0,10,0,0,1,16-Aug-21,2021-08-16,0,...,0,Deceased,3,28,1,438,0,1,1,9